<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Functional.Maybe" version="1.1.1" targetFramework="net45" />
  <package id="FunctionalSharp.DiscriminatedUnions" version="0.9.4" targetFramework="net45" />
  <package id="MediaBrowser.Common" version="3.0.744" targetFramework="net45" />
  <package id="MediaBrowser.Server.Core" version="3.0.744" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
</packages>